@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
    max-width: 100%;
    height: 100vh;
    margin: 0;
    height: 100vh;
}

.container {
    position: absolute;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 400px;
    width: 400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container h1 {
    letter-spacing: 4px;
    padding-bottom: 20px;
    text-align: center;
    margin-top: 0;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.find_form {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.find_form input {
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
}



.send_button, .check_button {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #2775DF;
    color: white;
    cursor: pointer;
    box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
    width: auto;
}

.send_button {   
    margin-bottom: 10px;
}

.check_button {
    margin-left: 5px;
}

.xbtn {
    top: 0%;
    left: 47%;
    transform: translate(-1%, -105%);
    position: relative;
    float: left;
    display: inline-block;
}

.xbtn:after {
    content: "\00d7";
    font-size: 30pt;
    color: white;
    line-height: 45px;
}